header {
  background-image: url("../images/navbar-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(30px);
}

ul {
  padding-left: 0 !important;
}

.header-shablon {
  // border-radius: 43px;
  background: rgb(22, 22, 24);
}

.body-shablon {
  background: rgb(22, 22, 24);
}

.navEL {
  margin-bottom: 0;
  li {
    width: 90px;
  }
}

.header-elements {
  //   backdrop-filter: blur(29.23px);
  //   background: ;
  //   background: rgba(255, 255, 255, 0.4);
  nav {
    padding-top: 9px !important;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
  }
  height: 42px;
}

.header-logo {
  h1 {
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 14px;
    font-weight: 700;
    line-height: 126.42%;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 0 !important;
  }
}

.nav-navbar {
  display: flex !important;
  align-items: center !important;
  // gap: 120px !important;
  justify-content: space-between !important;
  @include tablet() {
    // gap: 25px;
  }
  a {
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 14px;
    font-weight: 700;
    line-height: 126.42%;
    letter-spacing: 0%;
    text-align: center;
  }
  ul {
    display: flex;
    gap: 17px;
    align-items: center;
  }
}

.navbar-btn {
  display: flex;
  align-items: center;
  gap: 12px;
}

#opener {
  display: none;
  @include mobile() {
    display: block;
  }
}

.header-elements nav {
  @include mobile() {
    .menuOpenerBtn {
      display: block;
    }
    .nav-logo {
      z-index: 99999;
    }
    ul {
      z-index: 9999;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(41, 121, 43, 0.34);
      justify-content: center;
      flex-direction: column;
      align-items: flex-start;
      padding-bottom: 5vh;
      padding-left: 40px !important;
      width: 70%;
      height: 100vh;
      transform: translateX(-100%);
      transition: all 0.5s;
    }

    .open {
      transform: translateX(0);
    }
  }
}
