.ids-shablonlar-texts {
  display: flex;
  flex-direction: column;
  width: 500px;
  gap: 50px;
  @include tablet() {
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
  }
  @include mobile() {
    width: 330px;
    align-items: center;
    text-align: center;
  }
  h2 {
    color: rgb(205, 249, 47);
    font-family: Poppins;
    font-size: 150px;
    font-weight: 800;
    line-height: 126.42%;
    letter-spacing: 0%;
    // text-align: center;
    @include mobile() {
      text-align: center;
      font-size: 90px;
    }
  }
  h3 {
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 30.84px;
    font-weight: 800;
    line-height: 129%;
    letter-spacing: 0%;
    // text-align: center;
  }
  ul li h3 {
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 15px;
    font-weight: 700;
    line-height: 129%;
    letter-spacing: 0%;
    text-align: left;
  }
  ul {
    @include mobile() {
      // flex-direction: column;
    }
    display: flex;
    gap: 15px;
    align-items: center;
    li {
      display: flex;
      gap: 15px;
      align-items: center;
    }
  }
  .ids-shablonlar-texts-ul_1 {
    @include mobile() {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  }
}

.ids-shablonlar-img-bg {
  width: 84px;
  height: 84px;
  background-image: url("../images/ids-shablonlar-img-bg.png");
  display: flex;
  align-items: center;
  justify-content: center;
}

.ids-shablonlar-menu {
  width: 375px;
  height: 270px;
  @include mobile() {
    width: 100%;
  }
  box-sizing: border-box;
  border-radius: 27.57px;
  background: linear-gradient(
    133.23deg,
    rgba(205, 249, 47, 0.5) 0.665%,
    rgba(205, 249, 47, 0.05) 99.401%
  );
  display: flex;
  flex-direction: column;
  //   align-items: center;
  justify-content: space-between;
  padding: 35px;
  ul {
    display: flex;
    justify-content: space-between;
  }
  li a {
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 17.15px;
    font-weight: 700;
    line-height: 129%;
    letter-spacing: 0%;
    text-align: center;
    @include mobile() {
      font-size: 14px;
    }
  }
}

.ids-shablonlar-elements {
  display: flex;
  // align-items: center;
  justify-content: space-between;
  padding-top: 100px;
  margin-bottom: 60px !important;
  @include media() {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.ids-shablonlar-imgs {
  display: flex;
  align-items: center;
  gap: 40px;
  @include mobile() {
    flex-direction: column;
  }
  img {
    width: 330px;
  }
  // @include tablet() {
  //   width: 330px;
  //   flex-wrap: wrap;
  // }
}

// .ids-shablonlar-imgs-num3 {
//   @include tablet() {
//     display: flex;
//     width: 660px;
//   }
// }

.ids-shablonlar-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  gap: 40px;
  // @include tablet() {
  //   width: 400px;
  //   flex-wrap: wrap;
  // }
}

// ids-web

.section-ids-web {
  background-image: url("../images/section-ids-web-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.ids-web-elements {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ids-web-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
  h2 {
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 71px;
    font-weight: 800;
    line-height: 129%;
    letter-spacing: 0%;
    text-align: center;
    width: 1000px;
    @include tablet() {
      width: 700px;
      font-size: 50px;
    }
    @include mobile() {
      width: 330px;
      font-size: 23px;
    }
  }
}

.ids-web-about {
  padding-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  ul {
    @include mobile() {
      flex-direction: column;
      gap: 40px;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    @include tablet() {
      gap: 0px;
    }
    li {
      a {
        width: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 5px;
        @include tablet() {
          width: 240px;
        }
        h3 {
          color: rgb(255, 255, 255);
          font-family: Poppins;
          font-size: 22px;
          font-weight: 700;
          line-height: 129%;
          letter-spacing: 0%;
          text-align: center;
          @include tablet() {
            font-size: 19px;
          }
        }
      }
    }
  }
}

// ids-web-btn

.ids-web-btns {
  margin-top: 80px;
  padding-bottom: 40px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  overflow-x: scroll;
  width: 110%;
  padding-left: 400px;
  @include mobile() {
    // width: 100%;
    // padding-left: 450px;
    padding-left: 0;
    flex-direction: column;
  }
  @include tablet() {
    width: 102%;
    // padding-left: 940px;
    overflow-x: scroll;
  }
}
.ids-web-btn {
  display: inline-block;
  a {
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 250px;
    height: 50px;
    border-radius: 30.01px;
    background: rgba(217, 217, 217, 0.14);
    h3 {
      width: 180px;
      color: rgb(255, 255, 255);
      font-family: Poppins;
      font-size: 17px;
      font-weight: 600;
      line-height: 112%;
      letter-spacing: 0%;
      text-align: center;
    }
  }
}

// .ids-web-btn-num3 {
//   width: 200px;
//   display: inline-block;
// }

.ids-shablonlar-elements-footer {
  @include mobile() {
    height: 300px;
    width: 100%px;
  }
  .footer-elements {
    width: 100%;
  }
}
